<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recyclerviewtype">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecyclerViewType">
        <activity android:name=".slider.screen.SliderActivity"></activity>
        <activity
            android:name=".viewpager.screen.PagerActivity"
            android:theme="@style/Theme.RecyclerViewType_Page" />
        <activity
            android:name=".concat.screen.ConcatActivity"
            android:theme="@style/Theme.RecyclerViewType_Concat" />
        <activity
            android:name=".nested.screen.NestedRcycView"
            android:theme="@style/Theme.RecyclerViewType_Nested" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>